$white: #FFFFFF;
$black: #000000;
$gray: #585858;
$dark-gray: #A29D9D;
$primary-orange: #F2944E;
$secondary-orange: #F7931E;

// gradient colors
$app-theme-gradient: url('~@/assets/BG.png'),
linear-gradient(180deg, #de5f00 0%, $primary-orange 100%);
$app-button-gradient: linear-gradient(270deg, #F4A264 0%, #ED7E2B 100%)