$white: #FFFFFF;
$black: #000000;
$gray: #585858;

$primary-orange: #F2944E;
$secondary-orange: #F7931E;

// gradient colors
$app-theme-gradient: url('~@/assets/BG.png'),
linear-gradient(180deg, #de5f00 0%, #f2944e 100%);